{% extends "employee_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.fullname|as_crispy_field}}
    {{form.mobile|as_crispy_field}}
    <div class="container">
        <div class="form-container">
            <h1>notGoodReads</h1>
            <h2>Inscreva-se</h2>
            <form>
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Scout">
                </div>
                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" placeholder="scout@company.com">
                </div>
                <div class="input-group">
                    <label for="senha">Senha</label>
                    <input type="text" id="senha" name="senha" placeholder="Password">
                    <small>At least 12 characters</small>
                </div>
                <button type="submit" class="primary-btn">Continuar</button>
                <button type="button" class="google-btn">Inscrever-se no Google</button>
            </form>
            <p class="terms">Ao clicar, você concorda com os nossos <a href="#">termos</a>, <a href="#">política de privacidade</a> and <a href="#">politica de segurança</a>.</p>
            <p class="login">Já possui uma conta?<a href="#"> Log in</a></p>
        </div>
    </div>
</form>
{% endblock content %}
